body {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #292929;
}

#output{
    margin-top: 20px;
    min-height: 300px;
    padding: 10px 20px;
}

h1, h2, h3, h4, h5, h6, p, label {
    color: #858585;
}

h1 {
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 20px;
}

form {
    display: table;
}

form p {
    display: table-row;
}

label {
    display: table-cell;
    padding: 5px;
}

input {
    display: table-cell;
    padding: 5px;
}

button {
    display: table-cell;
    margin: 5px;
}

.content{
    width: 1000px;
    margin: auto;
}

.container-title {
    border: solid #6E6E6E;
    border-radius: 30px;
    padding-left: 20px;
    margin: 10px;
}

.container {
    border: solid #6E6E6E;
    border-radius: 30px;
    padding: 20px;
    margin: 10px;
}

.oxygen-light {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.oxygen-regular {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.oxygen-bold {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-style: normal;
}

footer p {
    text-align: center;
}

.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.no-spin {
    -moz-appearance:textfield !important;
}